<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level} ${logger} - ${message}" />
    
    <target name="debugFile" xsi:type="File" fileName="debug.log" archiveFileName="debug.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" />
    
    <target name="infoFile" xsi:type="File" fileName="info.log" archiveFileName="info.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" />
    
    <target name="traceFile" xsi:type="File" fileName="trace.log" archiveFileName="trace.{#}.log" archiveEvery="Day" maxArchiveFiles="5" layout="${longdate} ${level} ${logger} - ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" level="Debug" writeTo="debugFile" />
    
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" level="Info" writeTo="infoFile" />
    
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" level="Trace" writeTo="traceFile" />
  </rules>
  
</nlog>
