@model Category
<form method="post">
  <div class="form-group">
    <label asp-for=@Model.CategoryName>Category Name</label>
    <input asp-for="@Model.CategoryName" type="text" class="form-control" >  </div>
  <div class="form-group">
    <label asp-for=@Model.Description>Description</label>
    <input asp-for="@Model.Description" type="text" class="form-control" >  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-primary">Submit</button>
</form>